:root {
	--color-header: hsl(217, 19%, 35%);
	--color-paragraph: hsl(214, 17%, 51%);
	--bg-body: hsl(212, 23%, 69%);
	--bg-section: hsl(210, 46%, 95%);
	--color-white: #fff;
}

body {
	background-color: var(--bg-section);
	min-width: 100vw;
	min-height: 100vh;
}

.img {
	width: 100%;
	max-width: 1100px;
	max-height: 528px;
	border-radius: 15px 15px 0 0;
}

h1 {
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

h2 {
	font-size: 1.1rem;
}

h1, h2 {
	color: var(--color-header);
	line-height: 1.3;
}

p {
	color: var(--color-paragraph);
	line-height: 1.5;
}