.container {
	background-color: var(--bg-section);
	border-radius: 15px;
}

@media screen and (max-width: 1150px) {
	.container {
		width: 90%;
		margin: 2rem auto;
	}
}

@media screen and (min-width: 1150px) {
	.container {
		width: 1000px;

		display: flex;
	}

	main {
		min-width: 100vw;
		min-height: 100vh;

		display:flex;
		justify-content: center;
		align-items: center;
	}
}